@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #0a0a0a;
  background: #ededed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.contact {
  cursor: pointer;
  transition: 0.2s;
}

.contact:hover {
  backdrop-filter: brightness(110%);
}

.photo {
  transition: 0.4s;
}

.photo:hover {
  scale: 110%;
}

.skill {
  transition: 0.2s;
  cursor: default;
  background-color: #e7e7e7;
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.skill:hover {
  border: 1px solid rgb(0, 0, 0, 0.3);
}

.triangle {
  border: 160px solid transparent;
  border-top: 80px solid #37383d;
}

@media screen and (max-width: 768px) {
  .triangle {
    border: 120px solid transparent;
    border-top: 60px solid #37383d;
  }
}
