@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.contact {
  cursor: pointer;
  transition: 0.2s;
}

.contact:hover {
  backdrop-filter: brightness(110%);
}

.photo {
  transition: 0.4s;
}

.photo:hover {
  scale: 110%;
}
